.main-nav__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__item {
  margin: 0;
  padding: 0;
}

.main-nav__link {
  padding: 15px 20px;

  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;

  border-radius: 5px;
}

.main-nav__link--active {
  background-color: #0fbdd6;
}
