.portfolio {
  position: relative;
  margin: 0 auto;
  padding-top: 29px;
  padding-bottom: 130px;

  background-color: #0b0a09;
}

.portfolio__wrap {
  width: 980px;
  margin: 0 auto;
}

.portfolio__title {
  position: relative;

  width: 540px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 5px;


  font-size: 30px;
  color: #e5e4ab;
  text-align: center;

  &::before {
    position: absolute;
    content: "";
    left: -60px;
    top: 50%;

    width: 46px;
    height: 1px;

    background-image: url("../img/line.png");
    background-repeat: no-repeat;
  }

  &::after {
    position: absolute;
    content: "";
    right: -60px;
    top: 50%;

    width: 46px;
    height: 1px;

    background-image: url("../img/line.png");
    background-repeat: no-repeat;
  }
}

.portfolio__text {
  margin: 0;
  padding: 0;
  padding-bottom: 34px;

  text-align: center;
}

.portfolio__wrapper {
  position: relative;
}

.portfolio__list {
  position: absolute;
  top: 0;
  left: 50%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
  transform: translateX(-50%);
}

.portfolio__item {
  position: relative;

  margin: 0;
  margin-right: 10px;
  padding: 0;

  border: 10px solid #1e1e20;

  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.4);

  &:last-child {
    margin-right: 0;
  }
}

// .portfolio__item:first-child {
//   &::before {
//     position: absolute;
//     left: -31px;
//     top: 50%;
//     content: "";

//     width: 42px;
//     height: 42px;

//     border-radius: 50%;
//     background: linear-gradient(45deg, #0c95b7, #c9ecf2 95%);
//     transform: translateY(-50%);
//   }

//   &::after {
//     position: absolute;
//     left: -23px;
//     top: 50%;
//     z-index: 50;
//     content: "";

//     width: 0;
//     height: 0;

//     border-top: 10px solid transparent;
//     border-right: 20px solid #ffffff;
//     border-bottom: 10px solid transparent;
//     transform: translateY(-50%);
//   }
// }

// .portfolio__item:last-child {
//   &::before {
//     position: absolute;
//     right: -31px;
//     top: 50%;
//     content: "";

//     width: 42px;
//     height: 42px;

//     border-radius: 50%;
//     background: linear-gradient(45deg, #0c95b7, #c9ecf2 95%);
//     transform: translateY(-50%);
//   }

//   &::after {
//     position: absolute;
//     right: -23px;
//     top: 50%;
//     z-index: 50;
//     content: "";

//     width: 0;
//     height: 0;

//     border-top: 10px solid transparent;
//     border-left: 20px solid #ffffff;
//     border-bottom: 10px solid transparent;
//     box-shadow: inset 30px 50px 10px 5px #000000;
//     transform: translateY(-50%);
//   }
// }

.portfolio__subtitle {
  position: absolute;
  bottom: -35px;
  left: 50%;

  width: 193px;
  padding: 10px 10px;

  text-align: center;

  transform: translateX(-50%);
  background-color: #000000;

  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.4);

  &::before {
    position: absolute;
    left: 30px;
    top: 50%;
    z-index: 30;
    content: "";

    width: 14px;
    height: 5px;

    background-image: url("../img/arrow.png");
    background-repeat: no-repeat;

    transform: translateY(-50%);
  }
}

.portfolio__button {
  position: absolute;
  top: 87px;
  z-index: 2;

  width: 42px;
  height: 42px;

  background: linear-gradient(45deg, #0c95b7, #c9ecf2 95%);
  border: none;
  border-radius: 50%;

  cursor: pointer;

  &--previous {
    left: -10px;

    &::after {
      position: absolute;
      left: 12px;
      top: 50%;
      z-index: 4;
      content: "";

      width: 0;
      height: 0;

      border-top: 8px solid transparent;
      border-right: 15px solid #eee7cd;
      border-bottom: 8px solid transparent;

      transform: translateY(-50%);
    }

    &::before{
      position: absolute;
      left: 12px;
      top: 47%;
      z-index: 3;
      content: "";

      width: 0;
      height: 0;

      border-top: 8px solid transparent;
      border-right: 15px solid rgba(189, 184, 146, 0.7);
      border-bottom: 8px solid transparent;

      transform: translateY(-50%);
    }
  }

  &--next {
    right: -10px;

    &::after {
      position: absolute;
      right: 12px;
      top: 50%;
      z-index: 4;
      content: "";

      width: 0;
      height: 0;

      border-top: 8px solid transparent;
      border-left: 15px solid #eee7cd;
      border-bottom: 8px solid transparent;

      transform: translateY(-50%);
    }

    &::before{
      position: absolute;
      right: 12px;
      top: 47%;
      z-index: 3;
      content: "";

      width: 0;
      height: 0;

      border-top: 8px solid transparent;
      border-left: 15px solid rgba(189, 184, 146, 0.7);
      border-bottom: 8px solid transparent;

      transform: translateY(-50%);
    }
  }
}
